<div class="bg-light">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" routerLink="/">Quizzes</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="new-quiz" routerLinkActive="active">Add Quiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="logs" routerLinkActive="active">Log page</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
