<form #f="ngForm" (submit)="f.valid && save_answer(f)" novalidate>
  <div class="form-group">
    <input type="text" class="form-control" id="name_input" name="question"
           placeholder="Question"
           [class.is-invalid]="title.invalid && f.submitted"
           [(ngModel)]="model.title"
           #title="ngModel"
           required>
    <div class="invalid-feedback">
      Question is required.
    </div>
  </div>
  <div class="form-group row">
    <div class="col-2">
      <p class="font-weight-bold">Answers:</p>
    </div>
    <div class="col-10">
      <div class="d-block">
        <div class="answer d-flex" *ngFor="let item of model.answers">
          <input type="text" class="form-control" name="answer" value="{{item.text}}" #answer minlength="2" (blur)="edit_answer(item, $event.target.value)">
          <span aria-hidden="true"  class="btn text-danger" (click)="remove_answer(answer.value)" >&times;</span>
        </div>
        <div class="answer d-flex">
          <input type="text" class="form-control" name="answer"
                 #add_answer_input (keyup.enter)="add_answer(add_answer_input)">
          <span aria-hidden="true" class="btn text-success" (click)="add_answer(add_answer_input)">+</span>
        </div>
      </div>
    </div>
  </div>
</form>
