<div class="container">
  <div class="row" *ngIf="quiz.passed.length">
    <div class="col">
      <h1 class="mt-4 mb-4">Results</h1>
      <table class="table">
        <thead>
        <tr>
          <th scope="col" class="text-center">Id</th>
          <th scope="col">Name</th>
          <th scope="col" class="text-center">Time</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of quiz.passed">
            <th class="text-center" scope="row">{{quiz._id}}</th>
            <td>{{quiz.name}}</td>
            <td class="text-center">{{result.time | date:'short' }}</td>
            <td><span class="btn btn-outline-primary" (click)="show_more(result)">Detail</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="text-center" *ngIf="!quiz.passed.length">
      No one passed this quiz.
  </div>
</div>
