<div *ngIf="questions.length; else no_questions">
  <div class="quiz position-relative" *ngIf="!show_last_modal">
    <div class="modal-header d-block">
      <h4 class="d-block">Questions: # <b>{{step + 1}}</b> <small>/ {{questions.length}}</small></h4>
      <p class="modal-title d-block text-center font-weight-bold mt-2 mb-2">{{questions[step]?.title}}</p>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body ">
      <div class="answers row">
        <div class="col-6" *ngFor="let item of questions[step]?.answers; let i = index">
          <div class="answers__item rounded " (click)="pick_it(item)" [class.active]="item.status"><b>{{i+1}}.</b> {{item.text}}</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="err" *ngIf="err">
        Answer is required.
      </div>
      <div class="btns ml-auto">
        <span class="btn btn-primary" (click)="go_step(false)" *ngIf="step !== 0">Back</span>
        <span class="btn btn-primary" (click)="go_step(true)" *ngIf="!last_step">Next</span>
        <span class="btn btn-success" (click)="save_quiz()" *ngIf="last_step">Save</span>
      </div>
    </div>
  </div>
</div>

<ng-template #no_questions>
  <div class="modal-header">
    <h4 class="modal-title pull-left">No Questions</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close_pop()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center finish_text">
    Please add questions.
  </div>
</ng-template>
