.answers{
  padding: 0;
  margin: 0 0 -20px 0;
  list-style: none;
  &__item{
    list-style: none;
    cursor: pointer;
    padding: 10px 15px;
    margin-bottom: 20px;
    &:not(:last-child){
      margin-bottom: 5px;
    }
    &:hover{
      background: var(--teal);
      color:#fff;
    }
    &.active{
      color:#fff;
      background: var(--green);
    }
  }
}
.finish_text{
  font-size: 1.1rem;
  span{
    color:var(--green);
    text-decoration: underline;
    cursor: pointer;
    &:hover{
      text-decoration: none;
    }
  }
}

.err{
  padding: 0 15px;
  color: var(--red);
  font-weight: bold;
  text-align: center;
}

.close{
  position: absolute;
  top: 20px;
  right: 20px;
}
