$primary: #007bff;
$success: #28a745;
$danger: #dc3545;
$info: #ffc107;

.primary{
  background: lighten($primary, 45%);
}
.danger{
  background: lighten($danger, 30%);
}
.success{
  background: lighten($success, 45%);
}
.info{
  background: lighten($info, 30%);
}


.legend{
  display: flex;
  padding: 20px 0;
  .wr_items{
    display: flex;
    padding-left: 20px;
  }
  .item{
    padding-right: 10px;
    display: flex;
    align-items: center;
  }
  span{
    width: 20px;
    height: 20px;
    display: flex;
  }
}
