<div class="container">
  <div class="row" *ngIf="log_list.length; else no_logs">
    <div class="col">
      <div class="legend">
        <div class="title">
          Legend:
        </div>
        <div class="wr_items">
          <div class="item">
            <span class="primary"></span> - added
          </div>
          <div class="item">
            <span class="danger"></span> - deleted
          </div>
          <div class="item">
            <span class="success"></span> - passed
          </div>
          <div class="item">
            <span class="info"></span> - edited
          </div>
        </div>

      </div>
      <table class="table text-center">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Time</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let log of log_list" [ngClass]="{
                'primary':log.action=='add',
                'danger':log.action=='delete',
                'success':log.action=='pass',
                'info':log.action=='edit'
                }">
          <td>{{log._id}}</td>
          <td class="text-left">{{log.name}}</td>
          <td>{{log.time | date:'short'}}</td>
          <td class="font-weight-bold">{{log.action}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #no_logs>
    <div class="text-center">
      No logs.
    </div>
  </ng-template>
</div>
