$_wid: 20;
.question{
  display: flex;
  &__items{
    width: (100 - $_wid) * 1%;
    margin-right:-1px;
    padding-left: 50px;
    box-sizing: border-box;
  }
  .tab{
    border-right: 1px solid #ccc;
    width: $_wid*1%;
    .btn{
      padding: 0;
      font-size: 20px;
      line-height: 1;
      visibility: hidden;
    }
    &__item{
      width: 100%;
      padding: 10px 15px;
      cursor: pointer;
      border:1px solid rgba(0,0,0,0);
      position: relative;
      &:not(:last-child):after{
        opacity: 0;
        content: '';
        position: absolute;
        height: 100%;
        width: 4px;
        background: #fff;
        top: 0;
        right: -2px;
      }
      &:hover, &.active{
        margin-right:-1px;
        box-sizing: border-box;
        &:not(:last-child){
          border-color:#ccc;
        }
        &:after{
          opacity: 1;
        }
        .btn{
          visibility: visible;
        }
      }
      &:not(:last-child){
        margin-bottom: 10px;
      }
    }
  }
}
