<div class="question">
    <div class="question__tabs tab">
      <h3 class="mb-3">Questions</h3>
      <div class="tab__items" *ngIf="questions.length">
        <div class="tab__item d-flex justify-content-between" *ngFor="let item of questions; let i = index" [class.active]="item.active" (click)="pick(item)">
          <span># {{i+1}}</span>
          <span aria-hidden="true"  class="btn text-danger" (click)="remove_question(item, $event)" >&times;</span>
        </div>
        <div class="text-success tab__item add_bth bg-light" (click)="add_question()"><span aria-hidden="true">+</span>Add</div>
      </div>
    </div>
  <div class="question__items">
    <app-question [model]="current_question"></app-question>
  </div>
</div>
