.quiz{
  position: relative;
  padding-top: 100%;
  &__body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .info{
    &__image{
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      img{
        display: block;
        max-width: 100%;
      }
    }
    &__body{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(0,0,0,.4);
        opacity: 0;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
      }
      .description{
        opacity: 0;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        color:#fff;
        &__btn{
          padding: 0;
          width: 100%;
          background: rgba(255, 255, 255, .3);
          border-top:1px solid rgba(255, 255, 255, .2);
          margin-top:auto;
          .btn{
            line-height:1;
            width: 50%;
            text-align: center;
            color:#fff;
            font-weight: bold;
            padding: 15px 10px;
            cursor: pointer;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            background: rgba(0,0,0,0);
            &:hover{
              background: rgba(255,255,255,.1);
            }
            &:not(:last-child){
              border-right:1px solid rgba(255, 255, 255, .2);
            }
            &:hover{
              text-decoration: none;
            }
          }
        }
        &__text{
          position: relative;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;
          display: flex;
          $_width:30;
          span{
            position: relative;
            width: 100%;
            &:after, &:before{
              content: '';
              position: absolute;
              left: ((100 - $_width)/2)*1%;
              width: $_width*1%;
              height: 1px;
              background: #fff;
            }
            &:after{
              top: -10px;
            }
            &:before{
              bottom: -10px;
            }
          }
        }
      }
      .title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color:#fff;
        padding: 10px 15px;
        font-size: 20px;
        text-shadow: 0 0 6px rgb(21,21,21);
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
      }
      &:hover{
        .description{
          opacity: 1;
        }
        &:after{
          opacity: 1;
        }
        .title{
          transform: translate(0, 0);
          top: 0;
          left: 0;
        }
      }
    }
  }
}
.act_btn{
  top: 5px;
  right: 5px;
}
//.wr_cards{
//  position: relative;
//  &:hover{
//    .action_btn{
//      opacity: 1;
//    }
//  }
//}
//.action_btn{
//  padding: 20px;
//  position: absolute;
//  width: 100%;
//  opacity: 0;
//  transition: all .2s ease;
//}
//.cart__btn{
//  .btn:first-child{
//    text-overflow: ellipsis;
//    overflow: hidden;
//    max-width: calc(100% - 90px);
//  }
//}
