<!--<div class="wr_cards">
  <div class="d-flex justify-content-between action_btn" *ngIf="!preview">
    <a [routerLink]="['/edit', model._id]" class="btn btn-warning text-white">Edit</a>
    <span class="btn btn-danger" (click)="delete_card(model)">Delete</span>
  </div>

  <img src="{{model.image ? model.image : './assets/images/no_image.png' }}" alt="{{model.name}}">

  <div class="">
    <h4 class="quiz-card-title">{{model.name}}</h4>
    <p class="quiz-card-text">{{model.description}}</p>
    <div class="cart__btn d-flex justify-content-between" *ngIf="preview">
      <span class="btn btn-info">{{model.button_title || 'Take Quiz'}}</span>
      <span class="btn btn-info">Result</span>
    </div>
    <div class="cart__btn d-flex justify-content-between" *ngIf="!preview">
      <span class="btn btn-info" (click)="show_quiz(model.questions)">{{model.button_title || 'Take Quiz'}}</span>
      <span class="btn btn-info" [routerLink]="['/results', model._id]">Result</span>
    </div>
  </div>
</div>-->


<div class="quiz">
  <div class="quiz__body info">
    <div class="info__image">
      <img src="{{model.image ? model.image : './assets/images/no_image.png' }}" alt="{{model.name}}">
    </div>
    <div class="info__body">
      <div class="title">
        {{model.name}}
      </div>
      <div class="description">
        <div class="description__text" *ngIf="model.description">
          <span>{{model.description}}</span>
        </div>
        <div class="d-flex description__btn" *ngIf="model.name && preview">
          <span class="btn">{{model.button_title || 'Take Quiz'}}</span>
          <span class="btn">Result</span>
        </div>
        <div class="position-absolute act_btn" *ngIf="!preview">
          <button [routerLink]="['/edit', model._id]" class="btn btn-outline-light"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          <button class="btn btn-outline-danger" (click)="delete_card(model)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </div>
        <div class="d-flex description__btn" *ngIf="model.name && !preview">
          <span class="btn" (click)="show_quiz(model.questions)">{{model.button_title || 'Take Quiz'}}</span>
          <span class="btn" [routerLink]="['/results', model._id]">Result</span>
        </div>
      </div>
    </div>
  </div>
</div>
