<div class="modal-header">
  <h4 class="modal-title pull-left">Result</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="answers d-flex flex-wrap row">
    <div class="answers__item col-md-6" *ngFor="let question of results; let i = index">
      <h5 class="question"><b>{{i}}.</b> {{question.title}}</h5>
      <ul>
        <li class="answer rounded" *ngFor="let answer of question.answers" [class.active]="answer.status">
          {{answer.text}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="modal-footer justify-content-between">
  <span class="btn btn-success" (click)="modalRef.hide()">Close</span>
</div>

