ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.answer{
  list-style: none;
  color: var(--gray);
  padding: 10px;
  &.active{
    color:#fff;
    background: var(--green);
  }
  &:not(:last-child){
    margin-bottom: 5px;
  }
}
