<div class="container" *ngIf="!show_questions">
  <div class="row">
    <div class="col-md-6 mr-auto">
      <div class="d-flex justify-content-between align-items-start">
        <h1 class="mb-2 mt-2">Add Quiz</h1>
      </div>
      <form #f="ngForm" novalidate (submit)="f.valid && save_quiz(f)" >
        <div class="form-group row">
          <div class="col-md-6">
            <label for="name_input">Name</label>
            <input type="text" class="form-control" id="name_input" name="name"
                   [class.is-invalid]="name.invalid && f.submitted"
                   [(ngModel)]="model.name"
                   #name = ngModel
                   required>
            <div class="invalid-feedback">
              Name is required.
            </div>
          </div>
          <div class="col-md-6">
            <label>Image</label>
            <div class="input-group" [class.is-invalid]="error_img">
              <label class="input-group-addon" for="card_image">Browse</label>
              <input type="text" readonly value="{{load_btn_text}}" class="form-control">
              <input type="file" class="d-none form-control"  id="card_image" (change)="add_image($event)" accept=".jpg, .jpeg, .png">
            </div>
            <div class="invalid-feedback">
              Over 1 Mb.
            </div>
          </div>
        </div>
        <div class="form-group">
            <label for="button_input">Call to Action Button <small>(CTA)</small></label>
            <input type="text" class="form-control" id="button_input" name="button_title"
                   [(ngModel)]="model.button_title">
        </div>
        <div class="form-group">
          <label for="description_input">Description</label>
          <textarea class="form-control" name="description" id="description_input"
                    [(ngModel)]="model.description"></textarea>
        </div>
        <div class="form-group d-flex justify-content-between">
          <button type="submit" class="btn btn-success">{{edit_mode ? 'Edit' : 'Save'}}</button>
          <button type="button" class="btn btn-primary" (click)="toogle_questions()" > {{model.questions.length? 'Questions' : 'Add Questions'}}</button>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <h3 class="text-center mb-2 mt-2">Live preview</h3>
      <app-card [model]="model" [preview]="true"></app-card>
    </div>
  </div>
</div>

<div class="container" *ngIf="show_questions">
  <button type="button" class="btn btn-link text-warning mt-2 mb-2" (click)="toogle_questions()" ><i class="fa fa-chevron-left" aria-hidden="true"></i> Back {{model.name ? 'to '+model.name : ''}}</button>
  <app-add-questions [questions]="model.questions" class="container-fluid"></app-add-questions>
</div>
