<div class="quiz d-flex flex-wrap">
  <div class="quiz__item" *ngFor="let item of quizzes">
    <app-card class="home_card__item d-block mb-4" [model]="item" [models]="quizzes" ></app-card>
  </div>
  <div class="quiz__item">
    <div class="add rounded">
      <button class="btn btn-outline-success" routerLink="new-quiz">Add Quiz</button>
    </div>
  </div>
</div>
