.quiz{
  &__item{
    max-width: 300px;
    flex:1 1 250px;
    position: relative;
    .add{
      border: 1px dashed var(--success);
      position: absolute;
      top: 10%;
      left: 10%;
      width: 80%;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
